apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: trust-manager
rules:
  # Bundle permissions
  - apiGroups:
      - trust.cert-manager.io
    resources:
      - bundles
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - trust.cert-manager.io
    resources:
      - bundles/finalizers
    verbs:
      - update
  - apiGroups:
      - trust.cert-manager.io
    resources:
      - bundles/status
    verbs:
      - patch
  # Namespace permissions
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
      - watch
  # ConfigMap permissions
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - create
      - patch
      - watch
      - delete
  # Events permissions
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  # Secret permissions (added for secretTargets feature)
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - create
      - patch
      - update
      - watch
      - delete
