apiVersion: batch/v1
kind: Job
metadata:
  name: dbmate
  namespace: app-namespace
spec:
  # Keep completed jobs for debugging
  ttlSecondsAfterFinished: 300
  backoffLimit: 3
  template:
    metadata:
      labels:
        app.kubernetes.io/name: dbmate
    spec:
      restartPolicy: OnFailure
      serviceAccountName: dbmate
      securityContext:
        fsGroup: 65532
        runAsNonRoot: true
        runAsUser: 65532
      containers:
      - name: dbmate
        image: dbmate
        imagePullPolicy: IfNotPresent
        command: ["dbmate"]
        args: ["up"]
        env:
        - name: DATABASE_URL
          value: "postgres://dbmate@app-postgres-rw.app-namespace.svc.cluster.local:5432/config?sslmode=verify-full&sslcert=/mnt/client-certs/tls.crt&sslkey=/mnt/client-certs/tls.key&sslrootcert=/mnt/postgres-ca/ca.crt"
        - name: DBMATE_MIGRATIONS_DIR
          value: "/migrations"
        volumeMounts:
        - name: client-certs
          mountPath: /mnt/client-certs
          readOnly: true
        - name: postgres-ca
          mountPath: /mnt/postgres-ca
          readOnly: true
        - name: empty-dir
          mountPath: /tmp
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          capabilities:
            drop:
            - ALL
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            memory: 512Mi
      volumes:
      - name: client-certs
        secret:
          secretName: dbmate-tls
          defaultMode: 0400
      - name: postgres-ca
        secret:
          secretName: postgres-ca-bundle
      - name: empty-dir
        emptyDir: {}
