apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: postgres-ca-bundle
spec:
  sources:
    - secret:
        name: postgres-ca-secret
        key: ca.crt
  target:
    configMap:
      key: ca-bundle.crt
    namespaceSelector:
      matchLabels:
        kubernetes.io/metadata.name: app-namespace
