apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: cert-manager
    repo: oci://quay.io/jetstack/charts
    version: v1.19.1
    releaseName: cert-manager
    namespace: cert-manager
    valuesInline:
      crds:
        enabled: true
