apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{name}}"
  namespace: "{{namespace}}"
  labels:
    app.kubernetes.io/name: "{{name}}"
spec:
  replicas: 3
  revisionHistoryLimit: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: "{{name}}"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "{{name}}"
    spec:
      serviceAccountName: "{{name}}"
      containers:
      - name: "{{name}}"
        image: "{{name}}:latest"
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - name: environment-volume
          mountPath: "/environment"
          readOnly: true
        - name: empty-dir
          mountPath: /tmp
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          capabilities:
            drop:
            - ALL
        resources:
          requests:
            cpu: 50m # Min
            memory: 256Mi
          limits:
            memory: 1Gi
      volumes:
      - name: environment-volume
        configMap:
          name: environment
      - name: empty-dir
        emptyDir: {}
